.container-main-flexbox {
  height: 100%;
  width: 100%;
}

.name-style {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: bold;
}

#displayNameHomePage {
  height: 50%;
  display: flex;
  flex-direction: column-reverse;
}

.unique {
  font-size: 5em;
  color: white;
  /* position: absolute; */
  position: relative;
}

#parallax-intro {
  height: 100vh;
}
