#parallax-skills {
  height: 80vh;
}

#skills-main-container {
  position: relative;
}

.row .col.s6.skillImage {
  width: 20%;
}

.row .col.m3.skillImage2 {
  width: 25%;
}
#customImg {
  width: 20%;
}

.tech-title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 4em;
}
